.container {
  height: 100%;
  display: flex;
  background: url("https://mblogthumb-phinf.pstatic.net/MjAyMzA1MDRfMjc5/MDAxNjgzMTI2NzQ4MzU4.nSiy2eGfXtBbuZYinYbM2nbU6Xy95hhZx7buXWk6p_Eg.YkgM4M-Dv4N7IpcXPb8ljPuwYRtkgD0hrKLAlDNAfewg.JPEG.love__me____/IMG_8546.JPG?type=w800")
    0 center / 500px repeat;
  animation: movebg 8s linear infinite;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

@keyframes movebg {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -500px center;
  }
}

.home {
  height: 100%;
  width: 100%;
  font-family: "Righteous", serif;
  background: url("https://i.pinimg.com/564x/52/79/b1/5279b12c2cd84702ce393423da54db4e.jpg")
    0 center / 250px repeat;
  animation: movebg 8s linear infinite;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 100px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
}

@media screen and (max-width: 1090px) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
